<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Members</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>

<div class="container mt-5">

    <div class="d-flex justify-content-between mb-4">
        <h2>Members</h2>

        <a href="/" class="btn btn-secondary">
            Home
        </a>
    </div>

    <div class="card mb-4">

        <div class="card-header">
            Register Member
        </div>

        <div class="card-body">

            <form action="/members" method="post">

                <div class="mb-3">
                    <label class="form-label">
                        Name
                    </label>

                    <input type="text"
                           name="name"
                           class="form-control"
                           required>
                </div>

                <button class="btn btn-success">
                    Save
                </button>

            </form>

        </div>

    </div>

    <table class="table table-striped">

        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="member : ${members}">
            <td th:text="${member.id}"></td>
            <td th:text="${member.name}"></td>
        </tr>

        </tbody>

    </table>

</div>

</body>
</html>